
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#calculadora {
    background-color: #444;
    border: 4px solid;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
}

#resultado {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 60px;
    background-color: #333;
    color: #fff;
    margin-top: -10px;
}

#expressao{
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 60px;
    background-color: #333;
    color: #fff;
}

#botoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #888;
    color: #fff;
}

.operador {
    background-color: #f99;
}

.alto {
    grid-row: span 2;
}

.funcao {
    background-color: #66c;
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #a0a0a0;
}